/* You can add global styles to this file, and also import other style files */
a.active {
  color: red;
}
ul li {
  list-style-type: none;
  padding: 15px;
}
ul li a {
  text-decoration: none;
}
ul {
  background: #e5dbdb;
}
